<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.studyOS">



    <!-- DAMIT JARVIS ANDERE APPS SEHEN KANN (Wichtig für openApp-Tool) -->
    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/Theme.Jarvis9">

        <receiver
            android:name="com.example.studyOS.Reminder.ReminderReceiver"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>

        </receiver>

        <service
            android:name="com.example.studyOS.Reminder.ReminderService"
            android:stopWithTask="false"
            android:foregroundServiceType="mediaPlayback|microphone|location"
            android:exported="false"/>

        <service
            android:name="com.example.studyOS.Reminder.NotificationService"
            android:stopWithTask="false"
            android:foregroundServiceType="mediaPlayback|microphone"
            android:exported="false"/>

        <service
            android:name="com.example.studyOS.offline.NavigationBackgroundService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="location" />


        <activity
            android:name="com.example.studyOS.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VOICE_COMMAND" />
                <action android:name="android.intent.action.VOICE_ASSIST" />
                <action android:name="android.intent.action.VOICE_RECOGNITION_RESULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VOICE_COMMAND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>


    <queries>
        <package android:name="com.example.mychat" />
        <package android:name="com.example.mychat.Chat" />
        <package android:name="com.samsung.android.app.contacts" />
        <package android:name="com.example.speechrecaufanfang" />
        <package android:name="com.android.vending" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.whatsapp" />
        <package android:name="com.google.android.youtube" />
        <package android:name="com.sec.android.gallery3d" />
        <package android:name="de.hafas.android.db" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.sec.android.app.music" />
        <package android:name="com.samsung.android.app.notes" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.sec.android.app.clockpackage" />
        <package android:name="de.axelspringer.yana.zeropage" />
        <package android:name="com.sec.android.app.popupcalculator" />
        <package android:name="com.google.android.apps.maps" />
        <package android:name="com.example.mmusic" />
        <package android:name="de.dbregio.wohinduwillst" />
        <package android:name="de.fiduciagad.banking.vr" />
        <package android:name="com.termux" />
        <package android:name="com.moshbit.studo" />
        <package android:name="com.Slack" />
        <package android:name="com.shazam.android" />
        <package android:name="com.samsung.android.app.notes" />
        <package android:name="com.sec.android.app.shealth" />
        <package android:name="com.reddit.frontpage" />
        <package android:name="de.materna.bbk.mobile.app" />
        <package android:name="com.linkedin.android" />
        <package android:name="com.github.android" />
        <package android:name="com.google.android.apps.docs" />
        <package android:name="com.discord" />
        <package android:name="com.sec.android.app.voicenote" />
        <package android:name="com.openai.chatgpt" />
        <package android:name="com.ada.app" />
        <package android:name="com.smarttools.compasspro" />
        <package android:name="us.zoom.videomeetings" />
        <package android:name="com.google.android.googlequicksearchbox" />
        <package android:name="com.samsung.android.calendar" />
        <package android:name="com.sec.android.app.camera" />
        <package android:name="com.samsung.android.dialer" />
        <package android:name="com.samsung.android.app.contacts" />
        <package android:name="com.example.porcupinetest" />
    </queries>




    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.SEND" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />


    <uses-permission
        android:name="android.permission.BIND_VOICE_INTERACTION"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission
        android:name="android.permission.BIND_ACCESSIBILITY_SERVICE"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="signature"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission
        android:name="android.permission.USE_EXACT_ALARM"
        tools:ignore="ExactAlarm" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />


    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

</manifest>